@font-face {
  font-family: fraunces;
  src: url(./assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf);
}

@font-face {
  font-family: manrope;
  src: url(./assets/fonts/manrope/static/Manrope-Regular.ttf);
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
a {
  margin: 0;
}

img { 
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* custom properties */

:root {
  /* colors */
  --clr-primary: #24053E;
  --clr-accent: #44FFA1;
  --clr-secondary: #584D62;
  --clr-light-accent: #FCF8FF;
  --clr-white: #FFFFFF;

  /* font sizes */
  --fs-large: 5rem;
  --fs-med: 3.5rem;
  --fs-small: 2rem;
  --fs-body: 1.125rem;

  /* line spacing */
  --ls-large: 80px;
  --ls-med: 64px;
  --ls-small: 40px;
  --ls-body: 32px;
}

/* utilities */

.flex {
  display: flex;
}

.header-large {
  font-size: var(--fs-large);
  line-height: var(--ls-large);
  font-family: fraunces;
}

.header-med {
  font-size: var(--fs-med);
  line-height: var(--ls-med);
  font-family: fraunces;

}

.header-small {
  font-size: var(--fs-small);
  line-height: var(--ls-small);
  font-family: fraunces;

}

.reg-text {
  font-size: var(--fs-body);
  line-height: var(--ls-body);
  font-family: manrope;
}

.btn-primary {
  background-color:var(--clr-accent);
  color: var(--clr-primary);
  border: 2px solid var(--clr-accent);
  transition: background-color 150ms ease-in, color 150ms ease-in;
  max-width: 10vw;
  padding: .85em;
}

.btn-primary:hover {
  background-color: var(--clr-primary);
  color: var(--clr-accent);
}

.btn-secondary {
  border-bottom: 2px solid var(--clr-accent);
  padding-bottom: 3px;
  transition: color 150ms ease-in;
}

.btn-secondary:hover {
  color: var(--clr-accent);
}


/* header + hero */

header,
#hero-wrapper {
  background: var(--clr-primary);
  color: var(--clr-white);
}

header {
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-body);
  padding: 2em 5% 0 5%;
}

header > img {
  max-width: 95.61px;
}

#hero-wrapper {
  justify-content: center;
  position: relative;
  border-bottom-left-radius: 100% 20%;
  border-bottom-right-radius: 100% 20%;
  min-height: 90vh;
}

#hero {
  max-width: 70vw;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 3em;
}

#hero > img {
  max-width: 767px;
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hero h1 {
  margin: .6em 0;
}

#hero > a {
  max-width: none;
}

#hero > h1 > span {
  text-decoration: underline;
  text-decoration-color: var(--clr-accent);
}

#hero > :not(img) {
  z-index: 2;
}

/* card section */ 

#features-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--clr-light-accent);
  border-bottom-left-radius: 100% 20%;
  border-bottom-right-radius: 100% 20%;
  transform: translateY(-9%);
  z-index: -1;
}

#features {
  position: relative;
  min-height: 100vh;
  justify-content: center;
}


.card {
  margin-bottom: 30vh;
  padding: 0 1em;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.cards-wrapper {
  margin: 0 1em;
}

.card > span {
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border: 1px solid var(--clr-secondary);
  border-radius: 70%;
  margin-bottom: 2em;
}


/* about */

#about {
  min-height: 90vh;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}
.founder-card {
  --margin: 1em;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  flex-direction: column;
  align-items: flex-start;
  max-width: 50vw;
  padding: 2em;
  margin: 0 10em 3em 0;
}

.founder-card > h3 {
  margin-bottom: var(--margin);
}

.founder-card > p {
  margin-bottom: var(--margin);

}

.founder-card > a{
  display: block;
  max-width: none;
  width: 40%;
  text-align: center;
  margin-bottom: var(--margin);

}

#about > img {
  position: absolute;
  width: 400px;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
/* footer */ 

footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

footer > img {
  width: 100px;
  margin-bottom: 2em;
}

#social-links img{
  width: 20px;
  margin: 10px;
}


/* @media */ 

@media screen and (max-width: 768px){
  #about > img {
    width: 281px;
    top: 35%;
    left: 20%;
  }

  .founder-card {
    max-width: 75vw;
    padding: 2em;
    margin: 1em 1em 10em 1em;
    
  }

  .founder-card > h3 {
    margin-bottom: .5em;
  }

  .cards-wrapper {
    flex-direction: column;
    justify-content:center;
    gap: 2em;
  }
  .card {
    flex-direction: row;
    width:100%;
    text-align: left;
    padding: 0;
    margin: 1em 0;
    justify-content: center;
  }
  .textel {
    width: 50%;
  }

  .card > span {
    text-align: center;
    margin-right: 1em;
  }

}

@media screen and (max-width: 428px){
  #about > img {
    width: 281px;
    top: 10%;
    left: 50%;
  }

  .founder-card {
    max-width: 95vw;
    padding: 2em;
    margin: 1em 1em 4em 1em;
    text-align: center;
    align-items: center;
  }

  .founder-card > h3 {
    font-size: var(--fs-small);
  }

  .founder-card > a {
    width: 70%;
  }
  #features {
    min-height: 150vh;
  }
  .cards-wrapper {
    margin-bottom: 5em;
  }
  .card {
    flex-direction: column;
    text-align: center;
  }

  .card > span {
    margin: 0;
    margin-bottom: 1em;
  }

  .textel {
    width: 90%;
  }
}  
